@media (min-width: 3096px) {
    .yt-categories-header {
        margin: 0 auto !important;
    }
}

.yt-categories-header {
    max-width: 3096px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin: 0 24px;

    &>.title {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 700;
        color: var(--yt-spec-text-primary);
        padding: 20px 0;
    }

    & .empty {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 400;
        color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
    }

    & .chips {
        display: flex;
        flex-wrap: wrap;
        margin: 12px 0;
        gap: 12px;

        & .chip {
            display: inline-flex;
            align-items: center;
            font-family: "Roboto", "Arial", sans-serif;
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 500;
            border-radius: 8px;
            height: 32px;
            min-width: 12px;
            background-color: var(--yt-spec-badge-chip-background);
            color: var(--yt-spec-text-primary);
            padding: 0 var(--ytd-margin-3x);
            transition: background-color .5s cubic-bezier(.05, 0, 0, 1);
            cursor: pointer;
            border: none;
            outline: none;

            &:hover {
                background-color: var(--yt-spec-button-chip-background-hover);
            }

            &.active {
                background-color: var(--yt-spec-text-primary);
                color: var(--yt-spec-text-primary-inverse);
            }
        }
    }
}

.yt-categories-button {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    border-radius: 18px;
    color: #065fd4;
    padding: 0 16px;
    height: 36px;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background-color: #def1ff;
    }
}

#yt-categories-videos {
    font-family: "Roboto", "Arial", sans-serif;
    max-width: calc(var(--ytd-rich-grid-content-max-width) + var(--ytd-rich-grid-item-margin));
    display: grid;
    gap: 16px;
    min-height: 325px;
    padding-top: 24px;
    margin: 0 24px;

    & .flex {
        display: flex;
    }

    &.grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    &.grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    & .video {
        .flex {
            margin-top: 12px;
            gap: 12px;
        }

        & img {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 16px;
        }

        & .avatar {
            object-fit: cover;
            border-radius: 100%;
            width: 36px;
            height: 36px;
            background: #eee;
        }

        & a {
            text-decoration: none;
        }

        & .title {
            color: var(--yt-spec-text-primary);
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 500;
        }

        & .channel {
            font-size: 1.4rem;
            line-height: 2rem;
            color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));

            &:hover {
                color: var(--yt-spec-text-primary);
            }
        }

        & .meta {
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 400;
            color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
        }
    }
}

.yt-categories-select {
    border-radius: 18px;
    padding: 8px 15px;
    border: 1px solid var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
    background: transparent;
    color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
    margin-left: 8px;

    & option {
        background: transparent;
        color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
    }
}

html[dark] {
    & #yt-categories {
        & .button {
            color: #3ea6ff;

            &:hover {
                background-color: #263850;
            }
        }
    }
}